$def with (title)
<h1>Space Monkey Coding Competition</h1>

<h2>What is this?</h2>

<p>There are a number of problems hosted on this site. Each problem has a
number of test cases. When you submit a source code solution for a particular
problem, your code will be run against all of the problem's test cases. You can
submit as many solutions as you want, and your best solution will be what is
scored.</p>

<p>Some problems are such that you can solve all of the test cases very
straightforwardly; however, other problems are such that you can only solve
some of the test cases straightforwardly; a few test cases may require some key
insight or efficient algorithm to solve within the time deadline.</p>

<p>Don't fret about passing all of the test cases for every problem. Your score
is the number of total test cases across all of the problems you have passed
across the best submissions for each problem, so if you get stuck on a problem,
consider moving on to a different problem so you are still making progress.</p>

<h2>Why?</h2>

<p>We're trying to hire talented folks, and we felt that awarding weekly
monetary prizes to talented folks might help us talk to them.</p>

<h2>Okay, let's do it.</h2>

<p>Please go ahead and give the problems listed on the
<a href="/problems">problem page</a> on the left a shot!</p>

<p>Also, make sure we can contact you by visiting the
  <a href="/settings">settings page</a>.</p>
