$def with ()
<h1>Instructure Coding Competition</h1>

<p>We're hosting a coding competition! Yay!</p>

<p><b>Please read this first.</b> In order to participate you must first
fill out this short survey: <a href="http://bit.ly/nmgnpz">Survey</a>. If
you haven't filled that out yet, go do that now, then come back.</p.>

<p><b>Please read this second.</b> The way this works is there are a number of
problems, hosted on this site. Each problem has a number of test cases. When
you submit a source code solution for a particular problem, your code will be
run against all of the problem's test cases. You can submit as many solutions as
you want, and your best solution will be what is scored. Some problems are such
that you can solve all of the test cases very straightforwardly; however, other
problems are such that you can only solve some of the test cases
straightforwardly; a few test cases may require some key insight or efficient
algorithm to solve within the time deadline.</p>

<p>Don't fret about passing all of the test cases for every problem. Your score
is the number of total test cases across all of the problems you have passed
across the best submissions for each problem, so if you get stuck on a problem,
consider moving on to a different problem so you are still making progress.</p>

<p>Please go ahead and solve the problems listed on the
<a href="/problems">problem page</a> on the left as quickly as possible.</p>

<p>Also, make sure we can contact you in the event of you winning by visiting
  the <a href="/settings">settings page</a>.</p>
