$def with ()
<script>
$$(document).ready(function() {
  var $$new_test_case = $$("#new_test_case");
  var added_one = false;
  $$new_test_case.click(function(event) {
    event.preventDefault();
    var test_case_id = $$new_test_case.parents("table").first().find("tr").size()
    $$new_test_case.parents("tr").first().before(
        '<tr>' +
        '<td><input type="file" name="stdin_' + test_case_id + '"/></td>' +
        '<td><input type="file" name="stdout_' + test_case_id + '"/></td>' +
        '<td><input type="text" name="timelimit_' + test_case_id +
            '" size=4 /></td>' +
        (added_one ?
        '<td><a href="#" id="del_test_case_' + test_case_id + '">x</a></td>' :
        '<td></td>') +
        '</tr>');
    added_one = true;
    $$("#del_test_case_" + test_case_id).click(function(event) {
      event.preventDefault();
      $$(this).parents("tr").first().detach();
    });
  });
  $$new_test_case.click();
});
</script>

<h1>New Problem</h1>
<form method="post" enctype="multipart/form-data">
<dl>
<dt>Name:</dt>
  <dd><input type="text" name="name"/></dd>
<dt>Description:</dt>
  <dd><textarea rows=10 cols=50 name="description"></textarea></dd>
</dl>
<table><tr><th>STDIN</th><th>STDOUT</th>
<th>Time limit (optional, in seconds)</th><td></td></tr>
<tr><td><a href="#" id="new_test_case">Add a new test case</a></td>
<td align="right" colspan=2><input type="submit"/></td></tr>
</form>
